put-bsr-bank/src/main/resources/bank.wsdl

<definitions name="BankService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns = "http://www.bank.com/bank"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:types="http://www.bank.com/types"
             targetNamespace="http://www.bank.com/bank">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.bank.com/types" schemaLocation="types.xsd" />
        </schema>
    </types>

    <message name="HistoryRequest">
        <part name="payload" element="types:historyRequest" />
    </message>

    <message name="HistoryResponse">
        <part name="payload" element="types:historyResponse" />
    </message>

    <message name="TransferRequest">
        <part name="payload" element="types:transferRequest" />
    </message>

    <message name="PaymentRequest">
        <part name="payload" element="types:paymentRequest" />
    </message>

    <message name="WithdrawRequest">
        <part name="payload" element="types:withdrawRequest" />
    </message>

    <message name="OperationResponse">
        <part name="payload" element="types:operationResponse" />
    </message>

    <portType name="BankServicePortType">
        <operation name="history">
            <input message="tns:HistoryRequest"/>
            <output message="tns:HistoryResponse"/>
        </operation>

        <operation name="transfer">
            <input message="tns:TransferRequest"/>
            <output message="tns:OperationResponse"/>
        </operation>

        <operation name="payment">
            <input message="tns:PaymentRequest"/>
            <output message="tns:OperationResponse"/>
        </operation>

        <operation name="withdraw">
            <input message="tns:WithdrawRequest"/>
            <output message="tns:OperationResponse"/>
        </operation>
    </portType>
    
    <binding name="BankSoapBinding" type="tns:BankServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="transfer">
            <soap:operation soapAction="http://www.bank.com/bank/transfer"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="history">
            <soap:operation soapAction="http://www.bank.com/bank/history"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="payment">
            <soap:operation soapAction="http://www.bank.com/bank/payment"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="withdraw">
            <soap:operation soapAction="http://www.bank.com/bank/withdraw"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="BankService">
        <documentation>Bank Service</documentation>
        <port name="BankPort" binding="tns:BankSoapBinding">
            <soap:address location="http://localhost:8080/bank"/>
        </port>
    </service>
    
</definitions>